*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* padding: clamp(20px, 12vw, 120px) 10px 10px; */
  font-family: Montserrat, Helvetica, sans-serif;
  background: #111;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

a:visited {
  /* color: black; */
  text-decoration: none;
}

li {
  list-style-type: none;

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.home-page-container {
  position: relative;
  height: 100vh;

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 24px;
    height: 40px;

    nav {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
      }
    }
  }

  #home-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 24px;
    height: calc(100vh - 64px);
    border: 1px solid pink;
  }

  #home-page-arrow-down-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;
    border-radius:50%;
    background:#8080802b;

    cursor: pointer;
  }
  #home-page-arrow-down-container:hover, #home-page-arrow-down-container:focus {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

main {
 display:flex;
 flex-direction:column;
 justify-content:start;
 align-items:center;
}

section {
  height: 100vh;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

footer {}